@charset "UTF-8";
/* header ========================================================= */

header{
    position: relative;
    height: 170px;
    background: #f6f5ef;
}
header .title{
    padding: 20px;
}
header .title h1{
    color:#007042;
    text-align: left;
    line-height: normal;
}
header .title h1::before{
    content: '';
    display: inline-block;
    width: 70px; height: 70px;
    margin-right: 10px;
    background: url(../img/logo.png) no-repeat;
    vertical-align: middle;
}
/* nav */
.btn-menu{display: none;}
form{
    position: absolute;
    top: 40px;
    left: 50%; transform: translateX(-50%);
    padding: 0;
    border: 0;
}
form input{
    width: 200px;
    background: #007042;
    color:#fff;
}
form button{
    right:0;
}

/* gnb */
/* 1depth */
.gnb>li{
    float: left; width: 25%;
}
.gnb>li>a{
    background: #007042;
}

/* 2depth */
.gnb ul{
    position: absolute;
    width: 100%;
    background: #f6f5ef;
}
.gnb ul li a{
    color: #000;
    border: 0;
}
.gnb ul li a:hover{
    color: #007042;
    border: 0;
}

header::before{
    content: '';
    position: absolute;
    left:0; bottom:0;
    width: 100%; height: 60px;
    background: #007042;
}

/* util */

.util{
    position: absolute;
    top: 0; right: 0;
}
.util li{float: left;}

/* member */
.btn-member{top: 45px; color: #007042;}
#btn-member:checked ~ .member{height: 174.47px;}
.member{top:110px;}
.member .wrap{
    max-width: 100%;
    padding: 20px;
}
.member > div:nth-child(1) .wrap{
    border: none;
    border-right:1px solid #fff;
}

/* section =========================================== */
section{padding-top: 0;}

/* main-ad */
.main-ad{overflow: hidden;}
.main-ad .container{height: 500px;}
.main-ad .emblem{margin: 0; text-align: left; animation: left 0.5s linear;}
.main-ad .flavor{position: absolute; right:0; bottom: 30px; animation: right 0.5s linear;}
.main-ad .flavor img:nth-child(1){margin: 0;}
.main-ad .flavor img:nth-child(2){position: absolute; bottom: 0; right: 250px;}

/* 왼쪽, 오른쪽에서 나타나게 하는 애니메이션 주기 */
@keyframes left{
    0%{opacity: 0; transform: translateX(-100px);}
    100%{opacity: 1; transform: translateX(0px);}
 }
 @keyframes right{
    0%{opacity: 0; transform: translateX(100px);}
    100%{opacity: 1; transform: translateX(0);}
 }
 

.product .product-info .bg{
    display: block;
    height: 420px;
    background: url(../img/fav_prod_img.png) no-repeat center;
    background-size: contain; /* contain = 이미지를 자르지 않음, 여백이 생길 수 있음 */
    }

.product .product-list .wrap a{
    bottom: -60px;
}

/* footer ================================= */

.banner .wrap{max-width: 800px; margin: auto;}
.banner .wrap ul li:nth-child(6)~li{display: none;}